*, *::before, *::after {
  box-sizing: border-box;
}

*{
  margin: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

p, h1, h2, h3 {
  overflow-wrap: break-word;
}

html {
  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}