// Colors - Primary
$purple-500: hsl(263, 55%, 52%);
$dark-gray-blue: hsl(217, 19%, 35%);
$dark-black-blue: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);

// Colors - Neutral
$light-gray: hsl(0, 0%, 81%);
$light-gray-blue: hsl(210, 46%, 95%);

// Typography
$font-family-main: 'Barlow Semi Condensed', sans-serif;
$font-size-base: 0.8125rem; 
$fw-medium: 500;
$fw-semibold: 600;